html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #070910;
    font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
    color: rgba(207,231,255,0.8);
}

#appRoot {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Fullscreen canvas. Oversize it so the tilt never reveals �outside� edges. */
#mapCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    /* Oversize: important so tilt doesn't show background corners */
    width: 140vw;
    height: 140vh;
    /*transform-origin: 50% 55%;*/
    transform: translate(-50%, -50%) /*perspective(1400px) rotateX(28deg)*/;
    display: block;
}

/* map is only used to draw the galaxies and the lanes, everything else goes here*/
#overlayCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140vw;
    height: 140vh;
    transform: translate(-50%, -50%);
    display: block;
    pointer-events: none;
}

#newsCanvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    display: block;
    pointer-events: none;
}

/* Optional vignette that is fullscreen, not �table edge� */
#appRoot::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(1100px 800px at 50% 40%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.38) 100%);
}

/*#hint {
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 10px 12px;
    border-radius: 12px;
    background: rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(6px);
}*/

#galaxyLabel {
    position: absolute;
    top: 14px;
    left: 114px;
    display: flex;
    gap: 14px;
    pointer-events: none;
    text-shadow: 0 2px 12px rgba(0,0,0,0.65);
}

#galaxyName {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(207,231,255,0.92);
}

#galaxyDesc {
    font-size: 14px;
    max-width: min(60vw, 1700px);
    color: rgba(207,231,255,0.72);
    line-height: 1.2;
}


#authButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 20px;
    left: 20px;
}

#authButton:hover {
    filter: brightness(1.3);
}



#crtOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
    
    /* Scanlines */
    background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 2px,
        rgba(0, 1, 65, 0.445) 2px,
        rgba(0, 0, 0, 0.15) 4px
    );
}

#appRoot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 11;
}
